N8N/workflows/Workflow 2_ Form Submission.json
{
  "name": "Workflow 2: Form Submission",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Product Inquiry Form",
        "formDescription": "Submit your product inquiry and upload relevant documents",
        "formFields": {
          "values": [
            {
              "fieldLabel": "first_name",
              "requiredField": true
            },
            {
              "fieldLabel": "last_name",
              "requiredField": true
            },
            {
              "fieldLabel": "email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "contact",
              "requiredField": true
            },
            {
              "fieldLabel": "company"
            },
            {
              "fieldLabel": "product",
              "placeholder": "(eg. iPhone 17, MacBook Pro)",
              "requiredField": true
            },
            {
              "fieldLabel": "inquiry_type",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Pricing"
                  },
                  {
                    "option": "Technical Specs"
                  },
                  {
                    "option": "Availability"
                  },
                  {
                    "option": "Bulk Order"
                  },
                  {
                    "option": "Support"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "priority",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Low"
                  },
                  {
                    "option": "Medium"
                  },
                  {
                    "option": "High"
                  },
                  {
                    "option": "Urgent"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "message",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -848,
        192
      ],
      "id": "48a39f30-95b2-4256-9d7f-9ec041b9c0a1",
      "name": "Product Inquiry Form",
      "webhookId": "enhanced-product-inquiry"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qi_UUBtj--rcHzxOmLMegRS3_NpP-DnO1Lpk5V7WS9Q",
          "mode": "list",
          "cachedResultName": "dummy_customer_inquiries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qi_UUBtj--rcHzxOmLMegRS3_NpP-DnO1Lpk5V7WS9Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1791024796,
          "mode": "list",
          "cachedResultName": "Inquiries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qi_UUBtj--rcHzxOmLMegRS3_NpP-DnO1Lpk5V7WS9Q/edit#gid=1791024796"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $('Product Inquiry Form').item.json.email}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -624,
        192
      ],
      "id": "a2bddd4a-ed34-4ca6-89ca-269127db9cde",
      "name": "Check Existing Customer",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2OcSoCbGb7Ulbuhl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-existing",
              "leftValue": "={{ $('Check Existing Customer').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        192
      ],
      "id": "049c497d-8ae5-4e41-b2d5-74916df547b0",
      "name": "Is New Customer?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-priority",
              "leftValue": "={{ $('Product Inquiry Form').item.json.priority }}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": false
              }
            },
            {
              "id": "2bf3cd5b-2620-42b3-aaf1-f210bbaea918",
              "leftValue": "={{ $('Product Inquiry Form').item.json.priority }}",
              "rightValue": "Urgent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        96
      ],
      "id": "ac488e2b-cfce-438f-bc43-2c4fb0c1ebcb",
      "name": "Is High Priority?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qi_UUBtj--rcHzxOmLMegRS3_NpP-DnO1Lpk5V7WS9Q",
          "mode": "list",
          "cachedResultName": "dummy_customer_inquiries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qi_UUBtj--rcHzxOmLMegRS3_NpP-DnO1Lpk5V7WS9Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1791024796,
          "mode": "list",
          "cachedResultName": "Inquiries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qi_UUBtj--rcHzxOmLMegRS3_NpP-DnO1Lpk5V7WS9Q/edit#gid=1791024796"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "first_name": "={{ $('Product Inquiry Form').item.json.first_name }}",
            "last_name": "={{ $('Product Inquiry Form').item.json.last_name }}",
            "email": "={{ $('Product Inquiry Form').item.json.email }}",
            "contact": "={{ $('Product Inquiry Form').item.json.contact }}",
            "company": "={{ $('Product Inquiry Form').item.json.company }}",
            "product": "={{ $('Product Inquiry Form').item.json.product }}",
            "inquiry_type": "={{ $('Product Inquiry Form').item.json.inquiry_type }}",
            "priority": "={{ $('Product Inquiry Form').item.json.priority }}",
            "message": "={{ $('Product Inquiry Form').item.json.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact",
              "displayName": "contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product",
              "displayName": "product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "inquiry_type",
              "displayName": "inquiry_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        192
      ],
      "id": "1e365226-5386-4500-9b78-df6ae6d9c384",
      "name": "Add New Customer Record",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2OcSoCbGb7Ulbuhl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate summary report\nconst form = $(\"Product Inquiry Form\").first().json // get input data from n8n (or replace with your data source)\n\n// Create comprehensive summary\nconst summary = {\n  timestamp: form.submittedAt || new Date().toISOString(),\n  customer: {\n    name: `${form.first_name || ''} ${form.last_name || ''}`.trim(),\n    email: form.email || 'N/A',\n    company: form.company || 'N/A',\n    contact: form.contact || 'N/A',\n  },\n  inquiry: {\n    product: form.product || 'N/A',\n    type: form.inquiry_type || 'N/A',\n    priority: form.priority || 'N/A',\n    message: form.message || 'No message provided',\n  },\n  processing: {\n    workflow_status: \"completed\",\n    sheets_updated: true,\n    drive_folder_created: true,\n  },\n};\n\n// Return the summary as output\nreturn summary;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        288
      ],
      "id": "8bc78805-ecea-4866-bf20-c34547b0c35e",
      "name": "Generate Summary Report"
    },
    {
      "parameters": {
        "binaryPropertyName": "={{ $json.customer }}{{ $json.inquiry }}{{ $json.processing }}",
        "options": {
          "fileName": "report"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        496,
        288
      ],
      "id": "2e4caad0-bc38-4cf1-9e1c-e47e62c457de",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Inquiries",
        "emailType": "text",
        "message": "Thank you for submitting form",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        272,
        0
      ],
      "id": "cb8f12ec-b393-4696-bc73-eec33ac264ee",
      "name": "Send a message",
      "webhookId": "eacb6288-c57d-4662-89bd-db397ba68439",
      "credentials": {
        "gmailOAuth2": {
          "id": "mcCIKO0v60HECUbI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1qi_UUBtj--rcHzxOmLMegRS3_NpP-DnO1Lpk5V7WS9Q",
          "mode": "list",
          "cachedResultName": "dummy_customer_inquiries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qi_UUBtj--rcHzxOmLMegRS3_NpP-DnO1Lpk5V7WS9Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1791024796,
          "mode": "list",
          "cachedResultName": "Inquiries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qi_UUBtj--rcHzxOmLMegRS3_NpP-DnO1Lpk5V7WS9Q/edit#gid=1791024796"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "product": "={{ $('Product Inquiry Form').item.json.product }}",
            "inquiry_type": "={{ $('Product Inquiry Form').item.json.inquiry_type }}",
            "priority": "={{ $('Product Inquiry Form').item.json.priority }}",
            "message": "={{ $('Product Inquiry Form').item.json.message }}",
            "email": "=  {{ $('Product Inquiry Form').item.json.email }}",
            "row_number": 0
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact",
              "displayName": "contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product",
              "displayName": "product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "inquiry_type",
              "displayName": "inquiry_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        432
      ],
      "id": "c577a7a1-ce7a-4371-89a4-7733b3a51427",
      "name": "Update Existing Customer",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2OcSoCbGb7Ulbuhl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qi_UUBtj--rcHzxOmLMegRS3_NpP-DnO1Lpk5V7WS9Q",
          "mode": "list",
          "cachedResultName": "dummy_customer_inquiries",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qi_UUBtj--rcHzxOmLMegRS3_NpP-DnO1Lpk5V7WS9Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 12893157,
          "mode": "list",
          "cachedResultName": "High/Urgent Priority",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qi_UUBtj--rcHzxOmLMegRS3_NpP-DnO1Lpk5V7WS9Q/edit#gid=12893157"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "first_name": "={{ $('Product Inquiry Form').item.json.first_name }}",
            "last_name": "={{ $('Product Inquiry Form').item.json.last_name }}",
            "email": "={{ $('Product Inquiry Form').item.json.email }}",
            "contact": "={{ $('Product Inquiry Form').item.json.contact }}",
            "company": "={{ $('Product Inquiry Form').item.json.company }}",
            "product": "={{ $('Product Inquiry Form').item.json.product }}",
            "inquiry_type": "={{ $('Product Inquiry Form').item.json.inquiry_type }}",
            "priority": "={{ $('Product Inquiry Form').item.json.priority }}",
            "message": "={{ $('Product Inquiry Form').item.json.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact",
              "displayName": "contact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product",
              "displayName": "product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "inquiry_type",
              "displayName": "inquiry_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "aea01ba5-6ed0-4a04-ad09-11907afff9e4",
      "name": "Log High Priority Inquiry",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2OcSoCbGb7Ulbuhl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "andreimiranda123123@gmail.com",
        "subject": "Test",
        "message": "Download the CSV file for the reports. Thank you",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "[object Object][object Object][object Object]"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        704,
        288
      ],
      "id": "428551d5-0a18-44f9-8aeb-66d7ec10c37c",
      "name": "Send a message1",
      "webhookId": "0ea7e1e6-27a7-44c0-bc0a-ffdd267aa71a",
      "credentials": {
        "gmailOAuth2": {
          "id": "mcCIKO0v60HECUbI",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Product Inquiry Form": {
      "main": [
        [
          {
            "node": "Check Existing Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Customer": {
      "main": [
        [
          {
            "node": "Is New Customer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Customer?": {
      "main": [
        [
          {
            "node": "Is High Priority?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Existing Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is High Priority?": {
      "main": [
        [
          {
            "node": "Add New Customer Record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log High Priority Inquiry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add New Customer Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add New Customer Record": {
      "main": [
        [
          {
            "node": "Generate Summary Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary Report": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log High Priority Inquiry": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1aad3422-7bf3-4795-a708-4d097e8b5bbc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "400eb0047eabc1e61813fea88eaf20841c86c6c6abe77bcf3a9e339855b94c89"
  },
  "id": "iSvB3oTGY8PzxKlV",
  "tags": []
}